__pycache__/
*.pyc
LeafyManor/Tools/WebWalkthrough/build/
LeafyManor/UnrealProject/**/Saved/
LeafyManor/UnrealProject/**/Intermediate/
LeafyManor/UnrealProject/**/DerivedDataCache/
LeafyManor/UnrealProject/**/Binaries/
LeafyManor/UnrealProject/build_status.txt
LeafyManor/Tools/KitProcessing/split/
LeafyManor/Unreal/local_paths.cfg
